%h2
  Bar
  = @bar.name
  = "(#{@bar.id})"
%h3
  Bar status
  = @bar.status
  - if @bar.bar_song
    %br
    = @bar.bar_song.name
    by
    = @bar.bar_song.artist

%h3
  = pluralize(@bar.bar_songs.count, "song")

%ul{:id => "bar_songs_list"}
  - @bar.bar_songs.sort_by{|bar_song| bar_song.votes.active.count }.reverse.each do |bar_song|
    %li{:class => "bar_song", :id => "bar_song#{bar_song.to_param}"}
      = render :partial => "/bar_songs/show", :locals => {:bar_song => bar_song}