%h2
  Bar
  = @bar.name
  = "(#{@bar.id})"
%h3
  Bar status
  = @bar.status
  - if @bar.bar_song
    %br
    = @bar.bar_song.name
    by
    = @bar.bar_song.artist

%h3
  = pluralize(@bar.bar_songs.count, "song")

%ul
  - @bar.bar_songs.each do |bar_song|
    %li[bar_song]
      = render :partial => "/bar_songs/show", :locals => {:bar_song => bar_song}