%h2
  Bar
  = @bar.name
  = "(#{@bar.id})"
%h3
  Bar status
  = @bar.status
  - if @bar.bar_song
    %br
    = @bar.bar_song.name
    by
    = @bar.bar_song.artist
%h3
  You are:
  %strong= @user.name

%h3
  = pluralize(@bar.bar_songs.count, "song")

- bar_songs = @bar.bar_songs.sort_by{|bar_song| bar_song.votes.active.count }.reverse
%ul{:id => "bar_songs_list"}= render :partial => "/bar_songs/show", :collection => bar_songs, :as => :bar_song
