.name
  name:
  %b= bar_song.name
.artist
  artist:
  %b= bar_song.artist
.database_ID
  database_ID:
  %b= bar_song.database_ID
.vote_count
  Votes:
  .actual_vote_count= bar_song.votes.active.count
.play
  = button_to "Vote now!", {:action => "vote", :id => bar_song.id, :bar_id => @bar.id, :controller => "bar_songs"}, {:remote => true}