!!!
%html
  %head
    %title Jukebar server
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = javascript_include_tag "jukebar"
    = javascript_include_tag "jquery-growl"
    = csrf_meta_tag
    = render :partial => "/shared/pusher" if @render_pusher
  %body
    = yield
